<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  </head>
  <body>
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <h1>Faça seu Cadastro</h1>
        <form method="POST" action="{{ url_for('autenticar_cadastro') }}">
          {{ form.csrf_token() }}
          <div class="form-group">
            <!-- Criando label para o nickname -->
            {{ form.nome.label(class="form-label") }}
            <!-- Criando input para o nickname -->
            {{ form.nome(class="form-control") }}
          </div>
            <div class="form-group">
              <!-- Criando label para o nickname -->
              {{ form.nickname.label(class="form-label") }}
              <!-- Criando input para o nickname -->
              {{ form.nickname(class="form-control") }}
            </div>
            <div class="form-group">
              <!-- Criando label para o senha -->
              {{ form.senha.label(class="form-label") }}
              <!-- Criando input para o senha -->
              {{ form.senha(class="form-control") }}
            </div>
            <div class="form-group">
              <!-- criando botão de submit -->
              {{ form.submitCadastro(class="btn btn-primary botao-verde") }}
              <a class="btn btn-danger botao-vermelho" href="{{ url_for('index') }}">Voltar</a>
            </div>
            <div class="form-group login">
              <a href="{{ url_for('login') }}">Já possui uma conta? Faça seu login</a>
            </div>
        </form>
    </div>
</body>
</html>